body{
    padding: 0;
    margin: 0;
}

#dark
{
    color: white;
}

.s1,  .s2,  .s3,  .s4 
{
    display: inline-block;
}

.sect
{
    padding-left: 8vw;
    padding-top: 6vw;
}

.s1, .s2, .s3, .s4
{
    margin: 5px;
    padding: 5px;
    width: 20vw;
    text-align: center;
    
}

section img
{
    width: 70px;
    height: 70px;
}

.s1:hover, .s2:hover, .s3:hover, .s4:hover
{
    transform: translateY(-10px);
}


@media only screen and (max-width: 900px)
{
    .s1,  .s2,  .s3,  .s4 
    {
        display: block;
        background:rgba(255,255,255,0.3);
        width: 80vw;
        border-radius: 20px;
    }

    .sect
    {
        padding-left: 4vw;
        padding-top: 3vw;
        margin: 10px;
        margin-top: 50px;
        
    }

    .s1, .s2, .s3, .s4
    {
        margin: 2px;
    
    }
    section img
    {
        width: 40px;
        height: 40px;
    }

}